@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

:root {
	--small-text: 400;
	--medium-text: 600;
	--large-text: 700;
}

.container {
	width: 100%;
	display: flex;
	flex-direction: row;

	font-family: 'Open Sans', sans-serif;
}

/*
	CONTENT
*/

.content {
	padding: 16px 44px;
}

/*
	WRAPPER
*/

.wrapper {
	flex: 1;
	background: #CCCCCC;
}