@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.container {
	width: 100%;
	font-family: 'Open Sans', sans-serif;

	display: flex;
	flex-direction: row;
}

/*
	CONTENT
*/

.content {
	padding: 16px 44px;
	background: #CCCCCC;
}

.wrapper {
	flex: 1;
	background: #CCCCCC;
}