:root {
	--sidebar-width: 400px;
	--sidebar-color: #383838;
	--sidebar-logo-w: 210px;
	--sidebar-logo-h: 67px;
}

/*
	SIDEBAR
*/

.sidebar {
	width: var(--sidebar-width);
	background: var(--sidebar-color);
	flex-shrink: 0;
}

.sidebar .sidebar-logo {
	display: flex;
	width: var(--sidebar-logo-w);
	height: var(--sidebar-logo-h);
	margin: 60px auto 0;
	background-image: url('../../assets/icon/logo.svg');
}

.sidebar-menu {
	margin: 30px;
}

.sidebar-menu a {
	font-weight: var(--medium-text);
	font-size: 18px;
	color: #B7B7B7;
	text-decoration: none;
}

.sidebar-item {
	display: flex;
	height: 70px;
	align-items: center;
	border-bottom: 1px solid rgba(242, 242, 242, 0.1);
	padding-left: 15px;
}

.sidebar-item:last-child {
	border-bottom: none;
}

.sidebar-item-active,
.sidebar-item:hover {
	cursor: pointer;
	color: #FFFFFF;
	background: rgba(255, 255, 255, 0.05);
}